
.design{
    border-radius:20px;
    background-color: rgb(100, 99, 95);
    border: none;
    padding: 10px;
    box-shadow: inset 5px 3px rgb(198, 194, 186),
                        5px -5px 10px  rgb(190, 183, 183);
}
.btn{
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(209, 204, 204);
    box-shadow: inset 3px 3px 1px rgb(86, 82, 82),
                       -3px -3px 1px rgb(209, 204, 204) ;
}
.align{
    background-color: rgb(237, 228, 234);
    box-shadow: inset 3px 3px 10px 5px rgb(86, 82, 82),
                       -3px -3px 1px rgb(209, 204, 204) ;
}